

/* Estilos para el título y subtítulo */
h1 {
    color: #5290d3; /* Color del texto del título */
    top: 60px;
}

h2 {
    font-size: 1.0em;
    color: #5290d3;
}

h3 {
    font-size: 1.1em;
    color: #5290d3;
}

h4 {
    text-align: left;
    margin-top: 20px;   
    background-color: #74a8df;
    color: white;
    width: fit-content;
}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto; /* Las columnas se ajustan según el contenido */
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    font-family: Arial, sans-serif;
    /*font-size: 14px; /* Ajusta el tamaño de la letra aquí */
    font-size: 0.8vw; /* Tamaño de letra relativo al ancho de la ventana */
    white-space: nowrap; /* Evita que el contenido se rompa en múltiples líneas */
}
/* Ajustar el ancho del contenido, pero permitir la ruptura de texto si es muy largo */
td {
    word-wrap: break-word; /* Permite que el texto largo se ajuste al ancho de la columna */
}
th {
    background-color: #74a8df;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.footer {
    text-align: right;
    font-size: 0.8vw;
    margin-top: 20px;
}


/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
}


/* Estilos para formularios */
form {
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);/*: 0 2px 10px rgba(0, 0, 0, 0.1);*/
}


/* Barra de Service Impact Analysis */
.service-impact-analysis {
    background-color: #5290d3;
    color: rgb(255, 255, 255);
    padding: 4px 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 2px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);/*: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    align-items: center;
    justify-content: left;
    height: 30px;  
    display: flex;
}

/* Estilo de la imagen del logo en la barra */
.service-impact-analysis .logo {
    height: 90%; /* Ajusta el tamaño de la imagen al alto de la barra */
    margin-right: 10px;
    max-height: 35px; /* Puedes ajustar este valor según el diseño */
}

/* Loading spinner */
#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

/* Estilo específico para el encabezado Alarm ID */
.small-title {
    font-size: 0.7vw; /* Tamaño más pequeño solo para Alarm ID */
}

.refresh-container {
    text-align: right;
    margin-left: auto; /* Mueve el botón completamente a la derecha */
    font-size: 0.7vw;
    display: flex; /* Flexbox para alinear elementos internamente */
    align-items: center; /* Centra verticalmente el botón */
}


.btn-modern {
    display: flex; /* Flexbox para alinear elementos internamente */
    background-color: #5290d3; /* Color de fondo azul moderno */
    color: white; /* Texto en blanco */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-size: 0.7vw; /* Tamaño de fuente moderno */
    font-weight: 300; /* Un poco más grueso para que se vea bien */
    padding: 4px 20px; /* Espaciado interior para un botón más slim */
    border-radius: 25px; /* Bordes redondeados para un estilo moderno */
    /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Animaciones suaves */
    /*justify-content: space-between;*/
    text-align: right;
    margin-right: 20px;
    align-items: center; /* Centra verticalmente el botón */
}

.btn-modern:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al pasar el mouse */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al pasar el mouse */
}

.btn-modern:active {
    background-color: #004085; /* Color más oscuro cuando se hace clic */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra reducida cuando se hace clic */
}

#loading-message {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* Estilo moderno para el campo de búsqueda de DataTables */
.dataTables_filter label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.dataTables_filter input {
    border: 2px solid #007bff; /* Borde moderno */
    border-radius: 25px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interior */
    font-size: 16px; /* Tamaño de la fuente */
    outline: none; /* Elimina el borde de enfoque predeterminado */
    transition: border-color 0.3s ease; /* Suaviza la transición del borde */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para darle profundidad */
}

.dataTables_filter input:focus {
    border-color: #0056b3; /* Cambia el color del borde al hacer foco */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4); /* Aumenta la sombra al hacer foco */
}

.dataTables_filter {
    text-align: right; /* Alinea el campo de búsqueda a la derecha */
    margin-bottom: 2px; /* Espacio debajo */
}

/* Estilo para ajustar la columna "Alarm Cleared Time" */
td.centered-column {
    padding: 2px 5px; /* Reduce el espacio dentro de la celda */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    width: 1%; /* Hace que la columna se ajuste al contenido */
    text-align: center; /* Centra el contenido */
}

/* Opcionalmente puedes aplicarlo también al encabezado */
th.centered-column {
    padding: 2px 5px;
    white-space: nowrap;
    width: 1%;
    text-align: center;
}