
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alarmas del Outage Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!-- Archivos CSS locales -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/jquery.dataTables.min.css') }}">
    <!-- Archivos JavaScript locales -->
    <script src="{{ url_for('static', filename='vendor/js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/jquery.dataTables.min.js') }}"></script>
    
</head>


<body>

    <div id="loading">
        <img src="static/1.gif" alt="Cargando..." style="width:120px; height:120px;">
        <p>Cargando datos de Alarmas del Outage Manager de los últimos {{ days_configMap }} días, por favor espere...</p>
    </div>
    

    <!-- Barra "Service Impact Analysis" con imagen -->
    <nav class="banner"> 
        <div class="service-impact-analysis">
            <img src="{{ url_for('static', filename='telecom.gif') }}" alt="Telecom Logo" class="logo">
            Service Impact Analysis
            <div class="refresh-container">
                <a href="javascript:(window.location.href = window.location.href)" class="btn-modern">Refresh - Foto: <span id="local-time"></span></a>        
            </div>
        </div>
    </nav>
    
    <div class="page-content">
        <!-- <h1>Alarmas Activas en el Outage Manager</h1>-->
        <!-- <h2>Alarmas en el Outage Manager</h2>
        <h1>Alarmas Activas en el Outage Manager</h1>
        <h2>Alarmas en el Outage Manager</h2>-->
    
        <table id="alarmTable" style="display:none;">
            <thead>
                <tr>
                    <th class="tooltip-header" style="font-size: 0.6vw;">Alarm Id<span class="tooltip-text">Alarm Id: Id del Outage (o Alarma), interno del Outage Manager (OUM).</span></th>
                    <th class="tooltip-header" style="font-size: 0.6vw;">Other Id<span class="tooltip-text">Other Id: Id de la ticketera o de Fault.</span></th>                    
                    <th class="tooltip-header" style="font-size: 0.6vw;">Alarm State<span class="tooltip-text">Alarm State: Estado actual de la alarma (en outage y cadena).</span></th>                                                            
                    <th class="tooltip-header" style="font-size: 0.6vw; text-align: center; width: 1%;">Raised Time<span class="tooltip-text">Raised Time: Fecha y hora que Fault detectó el primer evento de la alarma.</span></th>                                        
                    <th class="tooltip-header" style="font-size: 0.6vw; text-align: center; width: 1%;">Cleared Time<span class="tooltip-text">Cleared Time: Fecha y hora que Fault desafectó la alarma, muestra los últimos {{ days_configMap }} días.</span></th>                                                                                
                    <th class="tooltip-header" style="font-size: 0.6vw;">Alarm Type<span class="tooltip-text">Alarm Type: Tipo de alarma (INDISPONIBILIDAD, DEGRADACION, TAREA_PROGRAMADA, etc.).</span></th>                    
                    <th class="tooltip-header" style="font-size: 0.6vw; text-align: center; width: 1%;">Inic Outage<span class="tooltip-text">Inic Outage: Fecha y hora que llegó la afectación al Outage Manager.</span></th>                                        
                    <th class="tooltip-header" style="font-size: 0.6vw;">Type Network Element<span class="tooltip-text">Type Network Element: Tipo de elemento de red asociado.</span></th>                    
                    <th class="tooltip-header" style="font-size: 0.6vw;">Network Element ID<span class="tooltip-text">Network Element ID: Nombre del elemento de red donde aplicó el outage.</span></th>                                        
                    <th class="tooltip-header" style="font-size: 0.6vw;">Clients<span class="tooltip-text">Clients: Cantidad de clientes afectados (clientes únicos).</span></th>                    
                    <th class="tooltip-header" style="font-size: 0.6vw;">hs.Res.<span class="tooltip-text">hs.Res.: Tiempo estimado de resolución.</span></th>                    
                </tr>       
            </thead>
            <tbody>
                {% for alarma in alarmas %}
                
                <tr>
                    <td>{{ alarma.alarmId }}</td>
                    <td>{{ alarma.origenId }}</td>                    
                    <td>{{ alarma.alarmState }}</td>
                    <td style="text-align: center; padding: 2px 2px; width: 1%; ">{{ alarma.alarmRaisedTime }}</td> <!-- Centrar contenido del TD -->                             
                    <td style="text-align: center; padding: 2px 2px; width: 1%; ">{{ alarma.alarmClearedTime }}</td> <!-- Centrar contenido del TD -->                             
                    <td>{{ alarma.alarmType }}</td>
                    <td style="text-align: center; padding: 2px 2px; width: 1%; ">{{ alarma.inicioOUM }}</td> <!-- Centrar contenido del TD -->                                                  
                    <td>{{ alarma.TypeNetworkElement }}</td>                
                    <td>{{ alarma.networkElementId }}</td>
                    <td>{{ alarma.clients }}</td>
                    <td>{{ alarma.timeResolution }}</td>                   
                </tr>
                {% else %}
                <tr>
                    <td colspan="9">No hay alarmas disponibles</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    


    <!-- Mensaje de "Espere..." oculto al principio -->
    <div id="loading-message" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.7); color: white; padding: 20px; border-radius: 10px; z-index: 9999;">
        <p>Espere, procesando descarga ...</p>
    </div>

    <!-- iframe invisible para manejar la descarga 
    <iframe id="download-frame" style="display: none;"></iframe>-->

    <!-- Include necessary JS libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function() {
            $('#loading').show();
            $('#alarmTable').hide();
    
            // Llamada AJAX para obtener los datos
            $.ajax({
                url: '/get_alarmas',
                method: 'GET',
                success: function(response) {
                    let tableBody = '';
                    response.alarmas.forEach(function(alarma) {
                        // Reemplazar "UPDATED" o "RETRY" por "RAISED" en alarma.alarmState
                        let alarmState = alarma.alarmState;
                        if (alarmState === 'UPDATED' || alarmState === 'RETRY') {
                            alarmState = 'RAISED';
                        }                        
                        tableBody += `
                        <tr>
                            <td class="tooltip-cell">
                                ${alarma.alarmId}
                                <span class="tooltip-text">                           
                                    <div class="tooltip-row">
                                        <span class="tooltip-title">Sistema Origen:</span>
                                        <span class="tooltip-value">${alarma.sourceSystemId}</span>
                                    </div>
                                    <div class="tooltip-row">
                                        <span class="tooltip-title">alarmRaisedTime:</span>
                                        <span class="tooltip-value">${alarma.alarmRaisedTime}</span>
                                    </div>
                                    <div class="tooltip-row">
                                        <span class="tooltip-title">alarmReportingTime:</span>
                                        <span class="tooltip-value">${alarma.alarmReportingTime}</span>
                                    </div>
                                    <div class="tooltip-row">
                                        <span class="tooltip-title">siaArrivalTime:</span>
                                        <span class="tooltip-value">${alarma.inicioOUM}</span>
                                    </div>
                                    <div class="tooltip-row">
                                        <span class="tooltip-title">alarmClearedTime:</span>
                                        <span class="tooltip-value">${alarma.alarmClearedTime}</span>
                                    </div>
                                </span>
                            </td>

                            <td>${alarma.origenId}</td>
                            <td>${alarmState}</td>
                            <td style="text-align: center;padding: 2px 2px;width: 1%;">${alarma.alarmRaisedTime}</td> <!-- Centrar contenido del TD -->                            
                            <td style="text-align: center;padding: 2px 2px;width: 1%;">${alarma.alarmClearedTime}</td> <!-- Centrar contenido del TD -->
                            <td>${alarma.alarmType}</td>
                            <td style="text-align: center;padding: 2px 2px;width: 1%;">${alarma.inicioOUM}</td> <!-- Centrar contenido del TD -->                            
                            <td>${alarma.TypeNetworkElement}</td>
                            <td>${alarma.networkElementId}</td>
                            <td>${alarma.clients}</td>
                            <td>${alarma.timeResolution}</td>
                        </tr>`;
                    });
                    $('#alarmTable tbody').html(tableBody);
    
                    // Inicializar DataTable
                    $('#alarmTable').DataTable({
                        "paging": true,
                        "searching": true,
                        "ordering": true,
                        "order": [],  // No aplica un ordenamiento inicial, toma los datos tal como llegan
                        "pageLength": 15,  // Cambia la cantidad de registros mostrados a 15
                        "lengthMenu": [ [10, 15, 25, 50, 100, 300, -1], [10, 15, 25, 50, 100, 300, "Todos"] ],
                        "columnDefs": [
                        { 
                            "targets": 9, // El índice de la columna 'Clients' (empieza desde 0)
                            "type": "num" // Define que esta columna debe tratarse como numérica
                        },
                        { 
                            "targets": 10, // Índice de la columna 'Time Resolution'
                            "type": "num" // Definir la columna como numérica
                        },
                        { 
                            "targets": 0, // Índice de la columna 'alarm Id'
                            "type": "num" // Definir la columna como numérica
                        }
                        ],
                        "drawCallback": function() {
                            // Re-inicializa los tooltips de las celdas
                            $('.tooltip-cell').each(function() {
                                var tooltip = $(this).find('.tooltip-text');
                                $(this).hover(function() {
                                    tooltip.css('visibility', 'visible').css('opacity', '1');
                                }, function() {
                                    tooltip.css('visibility', 'hidden').css('opacity', '0');
                                });
                            });

                            // Re-inicializa los tooltips de los encabezados
                            $('.tooltip-header').each(function() {
                                var tooltip = $(this).find('.tooltip-text');
                                $(this).hover(function() {
                                    tooltip.css('visibility', 'visible').css('opacity', '1');
                                    
                                    // Obtener la posición del tooltip
                                    var tooltipRect = tooltip[0].getBoundingClientRect();
                                    var windowWidth = $(window).width();

                                    // Ajustar posición si el tooltip se sale de la pantalla por la derecha
                                    if (tooltipRect.right > windowWidth) {
                                        tooltip.css('left', 'auto').css('right', '0').css('transform', 'translateX(-5%)');
                                    }

                                    // Ajustar posición si el tooltip se sale de la pantalla por la izquierda
                                    if (tooltipRect.left < 0) {
                                        tooltip.css('left', '0').css('right', 'auto').css('transform', 'translateX(5%)');
                                    }

                                }, function() {
                                    tooltip.css('visibility', 'hidden').css('opacity', '0');
                                    // Restaurar el estado original del tooltip
                                    tooltip.css('left', '50%').css('right', 'auto').css('transform', 'translateX(-50%)');
                                });
                            });
                        },

                        "language": {
                            "lengthMenu": "Mostrar _MENU_ entradas",
                            "zeroRecords": "No se encontraron resultados",
                            "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                            "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                            "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                            "search": "Buscar:",
                            "paginate": {
                                "first": "Primero",
                                "last": "Último",
                                "next": "Siguiente",
                                "previous": "Anterior"
                            },
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos disponibles en la tabla"
                        },
                        "search": {
                            "caseInsensitive": true  
                        }
                    });
    
                    $('#loading').hide();
                    $('#alarmTable').show();
                    
                },
                error: function() {
                    alert('Error al cargar los datos');
                }
            });
        });
    
   
        // Function to get local time
        function updateLocalTime() {
            const now = new Date();
            const options = {
                day: '2-digit',
                month: '2-digit',
                year: 'numeric',
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
                hour12: false
            };
            const formattedTime = now.toLocaleString('es-AR', options);
            document.getElementById('local-time').textContent = formattedTime;
        }

        updateLocalTime();

/*
        // Captura los eventos de clic en los botones de exportación
        document.querySelectorAll('.export-btn').forEach(function(button) {
            button.addEventListener('click', function(event) {
                // Muestra el mensaje de "Espere..."
                document.getElementById('loading-message').style.display = 'block';
    
                // Configurar la URL del archivo a descargar
                var exportUrl = button.getAttribute('data-export');
    
                // Descargar el archivo dentro del iframe
                var iframe = document.getElementById('download-frame');
                iframe.src = exportUrl;
    
                // Ocultar el mensaje de "Espere..." después de 5 segundos
                setTimeout(function() {
                    document.getElementById('loading-message').style.display = 'none';
                }, 10000); // Puedes ajustar el tiempo si es necesario
    
                // Prevenir la redirección predeterminada
                event.preventDefault();
            });
        });
*/
        // Función para descargar el contenido de la tabla en formato CSV
        document.getElementById('download-csv').addEventListener('click', function () {
            var csv = [];
            var rows = document.querySelectorAll("#alarmTable tr");

            rows.forEach(function(row) {
                var cols = row.querySelectorAll("td, th");
                var rowData = Array.from(cols).map(function(col) {
                    return col.innerText;
                });
                csv.push(rowData.join(","));
            });

            var csvFile = new Blob([csv.join("\n")], { type: "text/csv" });
            var downloadLink = document.createElement("a");
            fecha_actual = datetime.now().strftime('%Y%m%d%H%M%S')
            downloadLink.download = 'SIA_alarmas_'+fecha_actual+'.csv';            
            downloadLink.href = window.URL.createObjectURL(csvFile);
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);
            downloadLink.click();
        });

        // Función para descargar el contenido de la tabla en formato Excel (simple formato)
        document.getElementById('download-excel').addEventListener('click', function () {
            var tableHTML = document.getElementById("alarmTable").outerHTML.replace(/ /g, '%20');
            var downloadLink = document.createElement("a");
            document.body.appendChild(downloadLink);
            downloadLink.href = 'data:application/vnd.ms-excel,' + tableHTML;
            fecha_actual = datetime.now().strftime('%Y%m%d%H%M%S')
            downloadLink.download = 'SIA_alarmas_'+fecha_actual+'.xls';
            downloadLink.click();
            document.body.removeChild(downloadLink);
        });

        // Obtener los elementos del DOM
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("openModalBtn");
        var span = document.getElementsByClassName("close")[0];

        // Abrir el modal al hacer clic en el botón
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // Cerrar el modal al hacer clic en la 'X'
        span.onclick = function() {
            modal.style.display = "none";
        }

        // Cerrar el modal al hacer clic fuera de él
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        /*Ajustar Dinámicamente la Posición del Tooltip*/
        $(document).ready(function() {
            // Ajuste del tooltip en hover
            $('.tooltip-cell').hover(function() {
                var tooltip = $(this).find('.tooltip-text');
        
                // Mostrar el tooltip para calcular su posición
                tooltip.css('visibility', 'visible').css('opacity', '1');
        
                // Obtener la posición y dimensiones del tooltip
                var tooltipRect = tooltip[0].getBoundingClientRect();
                var windowWidth = $(window).width();
                var windowHeight = $(window).height();
        
                // Ajustar la posición si se sale de los límites de la pantalla
                var left = tooltipRect.left;
                var right = tooltipRect.right;
                var top = tooltipRect.top;
        
                // Ajustar si se sale por la izquierda
                if (left < 0) {
                    tooltip.css('left', '0').css('right', 'auto');
                }
        
                // Ajustar si se sale por la derecha
                if (right > windowWidth) {
                    tooltip.css('left', 'auto').css('right', '0');
                }
        
                // Ajustar si se sale por la parte superior
                if (top < 0) {
                    tooltip.css('top', '100%').css('bottom', 'auto');
                }
            }, function() {
                // Ocultar el tooltip y restaurar su posición original
                var tooltip = $(this).find('.tooltip-text');
                tooltip.css('visibility', 'hidden').css('opacity', '0');
                tooltip.css('left', '').css('right', '').css('top', '').css('bottom', '');
            });
        });
        

    </script>
<!--
    <label for="toggle"><h3>Click para Explicación de columnas</h3></label>
    <input type="checkbox" id="toggle">
    <div id="expandableDiv">
        <h2>Alarmas en el Outage Manager</h2>
        <p><strong>Alarm Id:</strong>  Id del Outage (o Alarma), interno del Outage Manager (OUM).<br>
        <strong>Other Id:</strong>  Id de la ticketera o de Fault.<br>            
        <strong>Alarm State:</strong> Estado actual de la alarma (en outage y cadena).<br>
        <strong>Alarm Raised Time:</strong> Fecha y hora que Fault detecto 1er evento de la alarma.<br>
        <strong>Alarm Cleared Time:</strong> Fecha y hora que Fault desafecto la alarma, muestra los últimos {{ days_configMap }} días.<br>       
        <strong>Alarm Type:</strong> Tipo de alarma (INDISPONIBILIDAD, DEGRADACION y TAREA_PROGRAM...).<br>
        <strong>Inicio Outage:</strong> Fecha y hora que llego la afectacion al Outage Manager.<br>       
        <strong>Type Network Element:</strong> Tipo de elemento de red asociado (RFS: Resource Facing Service, conjunto de recursos asociados a un nombre, para facilitar su modelado/gestion).<br>
        <strong>Network Element ID:</strong> Nombre del elemento de red donde aplico el outage. <br>
        <strong>Clients:</strong> Cantidad de clientes afectados (clientes únicos). <br>
        <strong>Time Resolution:</strong> Tiempo estimado de resolución (s/tablas).</p>
    </div>
-->
</body>
</html>



