
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alarmas del Outage Manager</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<body>

    <div id="loading">
        <img src="https://i.gifer.com/ZZ5H.gif" alt="Cargando..." style="width:60px; height:60px;">
        <p>Cargando datos de Alarmas del Outage Manager de los últimos {{ days_configMap }} días, por favor espere...</p>
    </div>
    

    <!-- Barra "Service Impact Analysis" con imagen -->
    <div class="service-impact-analysis">
        <img src="{{ url_for('static', filename='telecom.gif') }}" alt="Telecom Logo" class="logo">
        Service Impact Analysis
    </div>
    
    <!-- <h1>Alarmas Activas en el Outage Manager</h1>-->
    <h2>Alarmas en el Outage Manager</h2>
  
    <table id="alarmTable" style="display:none;">
        <thead>
            <tr>
                <th class="small-title">Alarm ID</th>
                <th class="small-title">Alarm State</th>
                <th class="small-title">Inicio OUM</th>                
                <th class="small-title">Alarm Raised Time</th>
                <th class="small-title">Alarm Cleared Time</th>                
                <th class="small-title">Alarm Type</th>
                <th class="small-title">Type Network Element</th>                
                <th class="small-title">Network Element ID</th>
                <th class="small-title">Clients</th>
                <th class="small-title">Time Resolution</th>
            </tr>       
        </thead>
        <tbody>
            {% for alarma in alarmas %}
            <tr title="Origen: {{ alarma.sourceSystemId }}    Relation: {{ alarma.alarmId }} --> {{ alarma.origenId }}">
                <td>{{ alarma.alarmId }}</td>
                <td>{{ alarma.alarmState }}</td>
                <td>{{ alarma.inicioOUM }}</td>                
                <td>{{ alarma.alarmRaisedTime }}</td>   
                <td>{{ alarma.alarmClearedTime }}</td>                             
                <td>{{ alarma.alarmType }}</td>
                <td>{{ alarma.TypeNetworkElement }}</td>                
                <td>{{ alarma.networkElementId }}</td>
                <td>{{ alarma.clients }}</td>
                <td>{{ alarma.timeResolution }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="9">No hay alarmas disponibles</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Mensaje de "Espere..." oculto al principio -->
    <div id="loading-message" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.7); color: white; padding: 20px; border-radius: 10px; z-index: 9999;">
        <p>Espere, estamos procesando su solicitud...</p>
    </div>

    <!-- iframe invisible para manejar la descarga -->
    <iframe id="download-frame" style="display: none;"></iframe>

    <!-- Botón de refresh -->
    <div class="refresh-container">
        <a href="javascript:(window.location.href = window.location.href)" class="btn-modern">Actualizar Alarmas - Foto del: <span id="local-time"></span></a>
        <a href="#" class="btn-modern export-btn" data-export="/export/csv">Exportar CSV</a>
        <a href="#" class="btn-modern export-btn" data-export="/export/excel">Exportar Excel</a>
    </div>

    <!-- Include necessary JS libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#loading').show();
            $('#alarmTable').hide();
    
            // Llamada AJAX para obtener los datos
            $.ajax({
                url: '/get_alarmas',
                method: 'GET',
                success: function(response) {
                    let tableBody = '';
                    response.alarmas.forEach(function(alarma) {
                        tableBody += `
                        <tr>
                            <td>${alarma.alarmId}</td>
                            <td>${alarma.alarmState}</td>
                            <td>${alarma.inicioOUM}</td>
                            <td>${alarma.alarmRaisedTime}</td>
                            <td>${alarma.alarmClearedTime}</td>
                            <td>${alarma.alarmType}</td>
                            <td>${alarma.TypeNetworkElement}</td>
                            <td>${alarma.networkElementId}</td>
                            <td>${alarma.clients}</td>
                            <td>${alarma.timeResolution}</td>
                        </tr>`;
                    });
                    $('#alarmTable tbody').html(tableBody);
    
                    // Inicializar DataTable
                    $('#alarmTable').DataTable({
                        "paging": true,
                        "searching": true,
                        "ordering": true,
                        "order": [],  // No aplica un ordenamiento inicial, toma los datos tal como llegan
                        "pageLength": 15,  // Cambia la cantidad de registros mostrados a 15
                        "lengthMenu": [ [10, 15, 25, 50, 100, 300, -1], [10, 15, 25, 50, 100, 300, "Todos"] ],
                        "columnDefs": [
                        { 
                            "targets": 8, // El índice de la columna 'Clients' (empieza desde 0)
                            "type": "num" // Define que esta columna debe tratarse como numérica
                        },
                        { 
                            "targets": 9, // Índice de la columna 'Time Resolution'
                            "type": "num" // Definir la columna como numérica
                        },
                        { 
                            "targets": 0, // Índice de la columna 'alarm Id'
                            "type": "num" // Definir la columna como numérica
                        }
                        ],
                        "language": {
                            "lengthMenu": "Mostrar _MENU_ entradas",
                            "zeroRecords": "No se encontraron resultados",
                            "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                            "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                            "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                            "search": "Buscar:",
                            "paginate": {
                                "first": "Primero",
                                "last": "Último",
                                "next": "Siguiente",
                                "previous": "Anterior"
                            },
                            "loadingRecords": "Cargando...",
                            "processing": "Procesando...",
                            "emptyTable": "No hay datos disponibles en la tabla"
                        }
                    });
    
                    $('#loading').hide();
                    $('#alarmTable').show();
                    
                },
                error: function() {
                    alert('Error al cargar los datos');
                }
            });
        });
    
    
   
        // Function to get local time
        function updateLocalTime() {
            const now = new Date();
            const options = {
                day: '2-digit',
                month: '2-digit',
                year: 'numeric',
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
                hour12: false
            };
            const formattedTime = now.toLocaleString('es-AR', options);
            document.getElementById('local-time').textContent = formattedTime;
        }

        updateLocalTime();


        // Captura los eventos de clic en los botones de exportación
        document.querySelectorAll('.export-btn').forEach(function(button) {
            button.addEventListener('click', function(event) {
                // Muestra el mensaje de "Espere..."
                document.getElementById('loading-message').style.display = 'block';
    
                // Configurar la URL del archivo a descargar
                var exportUrl = button.getAttribute('data-export');
    
                // Descargar el archivo dentro del iframe
                var iframe = document.getElementById('download-frame');
                iframe.src = exportUrl;
    
                // Ocultar el mensaje de "Espere..." después de 5 segundos
                setTimeout(function() {
                    document.getElementById('loading-message').style.display = 'none';
                }, 10000); // Puedes ajustar el tiempo si es necesario
    
                // Prevenir la redirección predeterminada
                event.preventDefault();
            });
        });

        

    </script>

    <h2>Explicación de columnas</h2>
    <p><strong>Alarm Id:</strong> Identificador único de la alarma. <br>
       <strong>Alarm State:</strong> Estado actual de la alarma. <br>
       <strong>Inicio OUM:</strong> Fecha y hora que llego al Outage Manager. <br>
       <strong>Alarm Raised Time:</strong> Fecha y hora que se detecto la alarma de los últimos {{ days_configMap }} días. <br>
       <strong>Alarm Cleared Time:</strong> Fecha y hora que se desafecto la alarma de los últimos {{ days_configMap }} días <br>       
       <strong>Alarm Type:</strong> Tipo de alarma. <br>
       <strong>Type Network Element:</strong> Tipo de elemento de red asociado. <br>
       <strong>Network Element ID:</strong> Identificador del elemento de red. <br>
       <strong>Clients:</strong> Cantidad de clientes afectados. <br>
       <strong>Time Resolution:</strong> Tiempo de resolución.</p>
       <!--
       <strong>Origen:</strong> Sistema origen de la alarma.</p>
       <strong>origenId:</strong> Identificador de la alarma del origen</p>
        -->
</body>
</html>



